body{
    font-family: 'Poppins', sans-serif; 
    margin: 0px;
}
.dark-mode {
    background-color: black;
    color: white;
  }
h1{
    font-size: 45px;
}
.kabbo{
    color: orange;
}
.top-high{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.welcome{
    width: 50%;
    padding-left: 5%;
}
.welcome img{
    width: 100%;
}
.hire-me{
    text-decoration: none;
    background-image: linear-gradient(orange, black);
    padding: 10Px 40px;
    color: powderblue;
    border-radius: 5px;
    font-weight: 600;
}
.seceond-high{
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    display: flex;
}
.dream{
    width: 50%;
    padding-left: 5%;
}
.dream img{
    width: 100%;
}
.download{
    text-decoration: none;
    border-radius: 5px;
    background-image: linear-gradient(orange, blue);
    padding: 8Px 20px;
}
.last-high{
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
}
.experience{
    display: flex;
}
.developer{
    width: 50%;
    padding-left: 10px;
    box-shadow: 10px 10px 40px turquoise;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 5px;
}
#left-dev{
    border-image: linear-gradient(red,green);
    border-left: 8px solid;
    border-image-slice: 1;
}
#right-dev{
    border-image: linear-gradient(blue,red);
    border-left: 8px solid;
    border-image-slice: 1;
}
.full{
    color: tomato;
}
footer p{
    text-align: center;
}
